include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include glistercp_hotel *.css
recursive-include glistercp_hotel *.csv
recursive-include glistercp_hotel *.html
recursive-include glistercp_hotel *.ico
recursive-include glistercp_hotel *.js
recursive-include glistercp_hotel *.json
recursive-include glistercp_hotel *.md
recursive-include glistercp_hotel *.png
recursive-include glistercp_hotel *.py
recursive-include glistercp_hotel *.svg
recursive-include glistercp_hotel *.txt
recursive-exclude glistercp_hotel *.pyc